.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .text-center{
      text-align: center;
  }
  mat-card-header{
      justify-content: center;
  }