<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <mat-card>
                <mat-card-header color="accent">
                    <mat-card-title >ADD USER DETAILS</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                          <mat-label>First Name</mat-label>
                          <input matInput placeholder="First Name" >
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name" >
                          </mat-form-field>
                          <mat-form-field class="example-full-width">
                            <mat-label>Mobile Number</mat-label>
                            <input matInput placeholder="Mobile Number" >
                          </mat-form-field>
                          <mat-form-field class="example-full-width">
                            <mat-label>EMail Id</mat-label>
                            <input matInput placeholder="EMail Id" >
                          </mat-form-field>
                          <mat-form-field class="example-full-width">
                            <mat-label>ADHAAR NUMBER</mat-label>
                            <input matInput placeholder="ADHAAR NUMBER" >
                          </mat-form-field>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>