<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <mat-form-field class="example-full-width">
                    <input type="text"
                           placeholder="ENTER TRACKING CODE"
                           aria-label="Number"
                           matInput
                           [formControl]="myControl"
                           [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of options" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
            </mat-card>
        </div>
    </div>
</div>